<style>
.jumbotron {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
}
</style>

<body>
  <div class="jumbotron text-center">
    <h1>G2 Agencies</h1>
    <p>We specialize in IT Solutions</p>
  </div>
</body>